html {
    position: relative;
    width: 1280px;
    height: 2766px;

    background: #FFFFFF;
}

header {
    position: absolute;
    width: 1280px;
    height: 117px;
    left: 0px;
    top: -1px;
}

.layout {
    position: absolute;
    width: 1280px;
    height: 56px;
    left: 0px;
    top: 0px;
}

.atas-logo {
    position: absolute;
    width: 1347px;
    height: 60px;
    left: 2px;
    top: -5px;

    background: #FAF9F9;
}

.logo {
    position: absolute;
    width: 80px;
    height: 80px;
    left: 33px;
    top: -13px;
}

.cari {
    position: absolute;
    width: 589px;
    height: 42px;
    left: 359px;
    top: 3.5px;

    background: #F1E7E7;
    border: 2px solid #000000;
    box-sizing: border-box;
    border-radius: 7px;
}

.loupe {
    position: absolute;
    width: 27px;
    height: 27px;
    left: 910px;
    top: 10px;
}

.profil {
    position: absolute;
    width: 42px;
    height: 42px;
    left: 1120px;
    top: 5px;
}

.menu {
    position: absolute;
    width: 27px;
    height: 27px;
    left: 1196px;
    top: 11px;
}

.bar-home {
    position: absolute;
    width: 1349px;
    height: 60px;
    left: 0px;
    top: 50px;

    background: #EFE9E9;
    box-shadow: 5px 4px 4px rgba(0, 0, 0, 0.25);
}

.dashboard a {
    position: absolute;
    width: 117px;
    height: 28px;
    left: 22px;
    top: 18px;

    font-family: Roboto;
    font-style: underline;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;

    color: #288D41;
}


.dashboard, .daerah, .diskusi, .transaksi, .laporan, a {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    text-decoration: none;

    color: #072D16;
    text-decoration: none;
}

.posting {
    position: absolute;
    width: 117px;
    height: 28px;
    left: 173px;
    top: 18px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    text-decoration: none;

    color: #072D16;
    transition: 00.3ms;
}

.posting :hover{
    color: #288D41;
}


.daerah {
    position: absolute;
    width: 117px;
    height: 28px;
    left: 290px;
    top: 18px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    text-decoration: none;

    color: #072D16;
    transition: 00.3ms;
}

.daerah :hover {
    color: #288D41;
}

.diskusi {
    position: absolute;
    width: 117px;
    height: 28px;
    left: 407px;
    top: 18px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    text-decoration: none;

    color: #072D16;
    transition: 00.3ms;
}

.diskusi :hover {
    color: #288D41;
}

.transaksi {
    position: absolute;
    width: 117px;
    height: 28px;
    left: 524px;
    top: 18px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    text-decoration: none;

    color: #072D16;
    transition: 00.3ms;
}

.transaksi :hover {
    color: #288D41;
}

.laporan {
    position: absolute;
    width: 117px;
    height: 28px;
    left: 671px;
    top: 18px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    text-decoration: none;

    color: #072D16;
    transition: 00.3ms;
}

.laporan :hover {
    color: #288D41;
}

.isi .banner{
    position: absolute;
width: 1296px;
height: 362px;
left: -15px;
top: 116px;

background: url(.png);
}

.isi .berita .underline{
    position: absolute;
    width: 1280px;
    height: 64px;
    left: -2px;
    top: 527px;
}

.isi .berita .isi1{
    position: absolute;
width: 300px;
height: 269px;
left: 134px;
top: 627px;
}

.isi .berita .isi2{
    position: absolute;
width: 300px;
height: 269px;
left: 483px;
top: 627px;
}

.isi .berita .isi3{
    position: absolute;
width: 300px;
height: 269px;
left: 832px;
top: 627px;
}

.isi .berita .klik{
    position: absolute;
width: 998px;
height: 47px;
left: 134px;
top: 921px;
}

.isi .produk .spesial{
    position: absolute;
    width: 1280px;
    height: 64px;
    left: -2px;
    top: 1017px;
}

.isi .produk .p1{
    position: absolute;
width: 300px;
height: 282px;
left: 134px;
top: 1117px;
}

.isi .produk .p2{
    position: absolute;
width: 300px;
height: 282px;
left: 488px;
top: 1117px;
}

.isi .produk .p3{
    position: absolute;
width: 300px;
height: 282px;
left: 832px;
top: 1117px;
}

.isi .produk .p4{
    position: absolute;
width: 300px;
height: 282px;
left: 134px;
top: 1435px;
}

.isi .produk .p5{
    position: absolute;
width: 300px;
height: 282px;
left: 488px;
top: 1435px;
}

.isi .produk .p6{
    position: absolute;
width: 300px;
height: 282px;
left: 832px;
top: 1435px;
}

.isi .produk .klik{
    position: absolute;
width: 998px;
height: 47px;
left: 134px;
top: 1744px;
}

.kategori .open{
    position: absolute;
    width: 1280px;
    height: 64px;
    left: -2px;
    top: 1840px;
}

.kategori .latar{
    position: absolute;
width: 998px;
height: 615px;
left: 134px;
top: 1940px;

background: #E3FFD9;
border-radius: 15px;
}

.kategori .j_p .latar{
    position: absolute;
width: 948px;
height: 350px;
left: 159px;
top: 1965px;

background: #B5FF9B;
border-radius: 15px;
}

.kategori .j_p .nama{
    position: absolute;
width: 155px;
height: 29px;
left: 177px;
top: 1982px;

font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 28px;
/* identical to box height */


color: #129456;
}

.kategori .j_p .d_u{
    position: absolute;
left: 83.2%;
right: 15.08%;
top: 71.76%;
bottom: 27.44%;
}

.promo{

}